@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html, body {
    margin-left: 2px;
    margin-right: 2px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

div.logo {
    float: left;
    margin-right: 3px;
    margin-block-start: -4px;
}

div.titles {
    color: #253140;
}

div.title {
    font-size: 1.3em;
}

div.subtitle {
    font-size: 0.8em;
}

span.version {
    font-size: 0.88em;
    color: #cac9c8;
}

/* p {
    font-size: 0.8em;
    color: #253140;
} */
#report {
    font-size: 1.12em;
}

#wcloud {
    width: 280px;
}

.launcher {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 2px;
}

.launcher.header {
    overflow: hidden;
    background: rgba(0, 0, 0, 0.1);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 4px;
}

#btn-analyze {
    border: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}

#idbox {
    height:22px;
}